.about__container{
    grid-template-columns: 2fr 9fr;
    column-gap: 1.875rem;
    justify-items: center;
    
}


.about__info{
    height: 200px;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    color: white;
}

.about__data{
    padding: 1.875rem;
    /* background-color: var(--container-color); */
    background-color: rgb(249, 240, 244);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: repeat(2,1fr);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;
}

.about__data::before{
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px sol transparent;
    border-right: 15px solid var(--container-color);
    position: absolute;
    left: -0.93rem;
    top: 20%;
}

.about__description{
    margin-bottom: 1rem;
    text-align: justify;
    font-size: 13px;
    color: black;
}

.about__skills{
    row-gap: 1.25rem;
}

.picabout{
    position: relative;
    height: 260px;
    width: 200px;
    outline: 2px solid rgb(126 255 178 /25%);
    outline-offset: -10px;
    overflow: hidden;
    isolation: isolate;
   

}

.pic1{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    
    object-fit: cover;
    transition: transform .25s;
    z-index: -1;
}

.picabout:hover .pic1{
    transform: scale(1.5);
}

.skills_titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.skills_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills__number{
    line-height: 1.2;
}

.skills__bar,
.skills__percentage{
    height: 7px;
    border-radius: 0.25rem;
}

.skills__bar{
    background-color: #d8cccc;
}
.skills__percentage{
    display: block;
}

.development{
    width: 75%;
    background-color: rgb(155, 66, 66);
}


.cvbtn{
    padding: 18px 30px;
    font-size: 12px;
    border: none;
    position: relative;
    cursor:pointer;
    box-sizing: border-box;
    overflow: hidden;
    background: rgb(186, 49, 97);
    border-radius: 30px;
    min-width: 80px;
    color: #fff;
    z-index: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0.3s;
    width: 100%;
    text-align: center;
    
    
}


.cvbtn::before{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    border-left-style: -50px;
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgb(191, 118, 143), transparent);
    transition: all 1s;
    z-index: -1;
    transform: translateX(-120px) skew(-20deg);
}

.cvbtn:hover::before{
    transform: translateX(300px) skew(-20deg);
}

.cvbtn:hover{
    background: #8c365a;
}

.ui{
    width: 90%;
    background-color: rgb(101, 101, 30);
}

 
  

  
@media  screen and (max-width: 1024px) {
    .about__container{
       grid-template-columns: 720px; 
       justify-content: center;
       row-gap: 1.875rem;
      

    }

    .about__data::before{
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid transparent;
        left: 49%;
        top: -20px; 

    }

    .about__container .about__img{
        justify-self: center;
        
    }

    .about__box{
        flex-direction: column;
        row-gap: .5rem;
        text-align: center;
    }
}  


@media  screen and (max-width: 768px){
    .about__container{
        grid-template-columns: 350px;

    }

   

    .about__data::before{
        left: 47%;
    }

    .about__data{
        grid-template-columns: 1fr;
        row-gap: 1.875rem;
    }

    
}


@media screen and (max-width:500px) {
    .about__container{
        grid-template-columns: 320px;
    }

    .about__description{
        font-size: 11px;
    }

    
}

@media screen and (max-width:350px) {
    .about__container{
        grid-template-columns: 1fr;
    }

    
}

@media screen and (max-width: 290px){
    .about__description{
        font-size: 8px;
    }
}