.contact.section{
    padding-bottom: 6.25rem;
}

.contact__container{
    grid-template-columns: 4fr 8fr;
    column-gap: 1.875rem;
    justify-self: center;
}

.contact__title{
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
}

.contact__form-group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1.5rem;
}

.contact__form-div{
    position: relative;
    margin-bottom: 1.875rem;
    height: 3.75rem;
}

.contact__form-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow);
    background-color: var(--container-color);
    color: var(--text-color);
    border: none;
    outline: none;
    border-radius: 1.875rem;
    padding: 0.625rem 1.875rem;
    z-index: 1;
}

.contact__form-area{
    height: 10.25rem;
}

/* .contact__form-area textarea{
    /* resize: none;
} */

.animation{
    height: 20px;
    overflow: hidden;
}

.animation>div>p{
    display: inline-block;
    margin-bottom: 3.91rem;
}
.animation p{
    color: black;
    font-family: cursive;
}
.animation div:first-child{
    animation: text-animation 6s infinite;
}
.main23{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* height: 100vh; */
} 

.first div{
    background-color: #3157ff;
}

.second div{
    background-color: #0ecc44;
}



@keyframes text-animation {
    0%{
        margin-top: 0;
    }
    10%{
        margin-top: 0;
    }
    20%{
        margin-top: -5.62rem;
    }
    30%{
        margin-top: -5.62rem;
    }
    40%{
        margin-top: -11.24rem;
    }
    60%{
        margin-top: -11.24rem;
    }
    70%{
        margin-top: -5.62rem;
    }
    80%{
        margin-top: -5.62rem;
    }
    90%{
        margin-top: 0;
    }
    100%{
        margin-top: 0;
    }
}

.emailbtn{
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    background-color: rgb(230, 194, 206);
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #d49d9d;
}

.emailbtn::before{
    content: '';
    width: 0;
    height: 3rem;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgb(219, 73, 124) 0%, #93916d 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.emailbtn:hover::before{
    width: 9em;
}


@media screen and (max-width:810px) {
    .contact__container{
        grid-template-columns: 310px;
        row-gap: 1.875rem;
        justify-content: center;
        justify-self: center;
    }

    
}

@media screen and (max-width:360px) {
    .contact__container{
        grid-template-columns: 1fr;
        justify-self: center;
    }

    
}

